.container {
    display: grid;
    grid-template-rows: auto 50px;
    width: 40%;
    height: 500px;
    margin: 0 auto;
    background-color: rgb(165, 255, 255);
    border-radius: 10px;
    margin-top: 100px;
}

.messageWindow {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-flow: column-reverse;
}

.messageWindow div {
    background-color: rgb(255, 0, 0) !important;
    width: 100px !important;
    margin: 5px;
}

::-webkit-scrollbar-track {
    position: absolute;
    bottom: 0;
}


.own {
    align-self: flex-end;
}

.system {
    align-self: center;
}

.inputWindow {
    background-color: blue;
}
