@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap');

.container {
  height: 300px;
  background-color: rgba(46, 46, 46); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.border {
   border-radius: 20px;
   width: 150px;
   height: 50px;

    --angle: 0deg;
   padding:3px;
   background: conic-gradient(from var(--angle), rgba(46, 46, 46, 1.0), rgba(0, 211, 232, 1.0));
   animation: rotate 2s linear infinite;
}

.button {
  width: 100%;
  height: 100%;
   box-sizing: border-box;
   cursor: pointer;
   border:none;
   outline:none;
   border-radius: 20px;
   font-family: 'Heebo', sans-serif;
   font-size: 20px;
   color: rgb(0, 211, 232);
   background-color: rgba(46, 46, 46);
   
  
}

.button:hover {
  color: white;
  background-color: rgb(0, 211, 232);
  box-shadow: 0px 0px 43px 25px rgba(0, 211, 232,0.74);
}

.border:hover {
   background: none;
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}  

@property --angle {
  syntax: '<angle>'; /* this one is important */
  initial-value: 0deg;
  inherits: false;
}